<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUP Management</title> 
    <link rel="stylesheet" href="/css/management.css">
</head>
<body>
    <div class="container">
        <h1>Welcome To SUP Management</h1>

        <div class="columns">
            <div class="column">
                <a href="/admin/membership">View Membership</a> 
            </div>
            <div class="column">
                <a href="/admin/contact-messages">View Contact Messages</a> 
            </div>
        </div>
    </div>
</body>
</html>

