<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUP Management</title> 
    <link rel="stylesheet" href="/css/management.css">
</head>
<body>  
    <header> 
        <div class="logout">
             <form action="/admin/logout" method="POST"> 
                <button type="submit">Logout</button>
             </form>
        </div>
        <div class="container">
            <nav>
                <ul class="navbar">
                     <li class="nav-item">
                        <a href="/admin/membership">Membership</a> 
                    </li>
                    <li class="nav-item">
                        <a href="/admin/contact-messages">Messages</a> 
                    </li>
                    <li class="nav-item">
                        <a href="/admin/event">Events</a> 
                    </li>
                    <li class="nav-item">
                        <a href="/admin/announcementManagement">Announcements</a> 
                    </li>
                </ul>
            </nav>
        </div> 
     </header> 
     <main>
        <h2>Vanguard Student Unification Party</h2>
     </main>
</body>
</html>
