<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About SUP</title>
    <link rel="stylesheet" href="/css/chairs.css">
</head>
<body>
    <header>
        <!-- Logo -->
        <div class="logo">
            <img src="/images/logo.jpg" alt="SUP Logo">
        </div> 
        <div class="social-media">
            <a href="link-to-facebook" target="_blank"><img src="images/facebook.png" alt="Facebook"></a>
            <a href="link-to-instagram" target="_blank"><img src="images/instagram.png" alt="Instagram"></a>   
        </div>
        <nav>
            <!-- Regular navigation for larger screens -->
            <ul>
                <li><a href="./">Home</a></li> 
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/membership">Membership</a></li>
                <li><a href="/about">About SUP</a></li> 
                <li><a href="/sup_chairs">SUP Chairs</a></li>  
                <li><a href="/gallery">SUP Gallery</a></li> 
            </ul>

            <!-- Dropdown select box for small screens -->
            <select id="mobile-nav">
                <option value="" selected disabled>Menu</option>
                <option value="./">Home</option>
                <option value="/contact">Contact Us</option>
                <option value="/membership">Membership</option>
                <option value="/about">About SUP</option>
                <option value="/sup_chairs">SUP Chairs</option> 
                <option value="/gallery">SUP Gallery</option>
            </select>
        </nav> 
        <div class="hero">
            <img src="images/home_hero-image.jpg" alt="SUP Hero Image"> 
            <h4>Vanguard Student Unification Party</h4>
            <h1><span class="letter-S">s</span><span class="letter-U">u</span><span class="letter-P">p</span></h1>
            <p>By The Masses, For The Masses, and Of The Masses</p>
        </div>
    </header>
    <section id="about">
        <h2>About SUP</h2>
        <p>The Vanguard Student Unification Party (SUP) is a dynamic and progressive student organization dedicated to representing the interests of the student body.
             Founded on October 20, 1970, SUP emerged as a response to the need for a unified voice to address student concerns and advocate for change within the university community. 
             Under the leadership of the first chairman of SUP, the organization quickly gained prominence and became a leading voice for student activism in Liberia. However, during the regime of Samuel K.
             Doe, several members of SUP, including Wuo Gappie Tappia, Wiwi Dabbah, Marcus Dolo, Tonia Richardson, Momolu Lavala, and some cadres of the Vanguard Student Unification Party were targeted and killed for their activism.
             Despite facing repression and violence, SUP continued its struggle for democracy and human rights, inspiring generations of students to stand up for their beliefs.
             Today, SUP remains committed to its founding principles and continues to advocate for the rights and welfare of students at the University of Liberia.</p>
        <p>Join us in our mission to build a stronger, more inclusive university environment where every student can succeed.</p>
    </section>
    <footer>
        <div class="social-media">
            <a href="link-to-facebook" target="_blank"><img src="images/facebook.png" alt="Facebook"></a>
            <a href="link-to-instagram" target="_blank"><img src="images/instagram.png" alt="Instagram"></a>
        </div>
        <p>&copy; 2023 Vanguard Student Unification Party. All Rights Reserved.</p>
        <p><a href="/privacy-policy" target="_blank" class="privacy-policy-link">Privacy Policy</a></p>
    </footer> 

    <script src="js/home.js"></script> 
</body>
</html>
