<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUP Events</title>
    <link rel="stylesheet" href="/css/announcements_events.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="images/logo.jpg" alt="SUP Logo">
        </div>
        <div class="social-media">
            <!-- social media links and icons -->
            <a href="#" target="_blank"><img src="images/facebook.png" alt="Facebook"></a>
            <a href="#" target="_blank"><img src="images/instagram.png" alt="Instagram"></a>
        </div>
        <nav>
            <!-- Regular navigation for larger screens -->
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/membership">Membership</a></li>
                <li><a href="/about">About SUP</a></li>
                <li><a href="/sup_chairs">SUP Chairs</a></li>
                <li><a href="/gallery">SUP Gallery</a></li>
            </ul>

            <!-- Dropdown select box for small screens -->
            <select id="mobile-nav">
                <option value="" selected disabled>Menu</option>
                <option value="./">Home</option>
                <option value="/contact">Contact Us</option>
                <option value="/membership">Membership</option>
                <option value="/about">About SUP</option>
                <option value="/sup_chairs">SUP Chairs</option>
                <option value="/gallery">SUP Gallery</option>
            </select>
        </nav>

        <!-- Hero Image -->
        <div class="hero">
            <img src="images/event_hero.jpg" alt="SUP Hero Image">
            <h4>Vanguard Student Unification Party</h4>
            <h1><span class="letter-S">s</span><span class="letter-U">u</span><span class="letter-P">p</span></h1>
            <p>By The Masses, For The Masses, and Of The Masses</p>
        </div>
    </header>
    <main>
        <h1>Upcoming Events</h1>
        <ul id="eventsList">
            <% events.forEach(event => { %>
                <li>
                    <span class="event-title"><%= event.title %></span>
                    <span class="event-date"><%= event.date %></span>
                    <span class="event-time"><%= event.time %></span>
                    <span class="event-description"><%= event.description %></span>
                </li>
            <% }); %>
        </ul>
    </main> 
    <footer>
        <div class="social-media">
            <!-- social media-->
            <a href="#" target="_blank"><img src="images/facebook.png" alt="Facebook"></a>
            <a href="#" target="_blank"><img src="images/instagram.png" alt="Instagram"></a>
        </div>
        <p>&copy; 2023 Vanguard Student Unification Party. All Rights Reserved.</p>
        <p><a href="/privacy-policy" target="_blank" class="privacy-policy-link">Privacy Policy</a></p>
    </footer>  

    <script src="/js/home.js"></script>
    
</body>

</html>
