 /* default */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* the body */
body {
  font-family: Arial, sans-serif;
  background-color: #f0e68c;
  color: #333;
}

/* the css for the management container */
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px; 
  border: 1px solid red;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #ff0000;
}

.columns {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.column {
  flex-basis: 40%;
  background-color: green;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.column:hover {
  transform: translateY(-5px);
}

.column a {
  display: block;
  padding: 20px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.column a:hover {
  background-color: black;
}

@media (max-width: 600px) {
  .columns {
    flex-direction: column;
    align-items: center;
  }

  .column {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}
