/* default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* body*/
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:khaki;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
h2 { 
    margin-bottom: 5px; 
    margin-top: 40px; 
    font-size: 20px;
    text-align: center;  
    color: green;
  } 
  h1{ 
    background-color: white; 
    color: red;  
     font-size: 30px;
    margin-bottom: 20px;
    text-align: center; 
  }
  
  .columns {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    width: 48%;  
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive*/
  @media screen and (max-width: 768px) {
    .columns {
      flex-direction: column;
    }
  
    .column {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  