/* Global styles */
body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

ul.contact-list {
  list-style-type: none;
  padding: 0;
}

.contact-list li {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.contact-list li strong {
  font-weight: bold;
}

.delete-btn {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #d1452a;
}

/* Additional styles for Membership Form Received section */

h1 {
  color: #333;
  margin-top: 40px; /* Adjust margin top as needed */
}

ul.membership-list {
  list-style-type: none;
  padding: 0;
}

.membership-list li {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.membership-list li strong {
  font-weight: bold;
}

.membership-list li a {
  text-decoration: none;
  color: #007bff; /* Adjust link color as needed */
  margin-right: 10px;
}

.membership-list li a:hover {
  text-decoration: underline;
}

.delete-btn {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #d1452a;
}
